/* GUIDES */
/* Mobile responsiveness max-breakpoint is 767px */

/* Tablet responsiveness min-breakpoint is 768px */

/* Desktop responsiveness min-breakpoint is 1024px */

:root {
  /* Root colors */
  --primary: #0d6efd;
  --primary-light: #9bc3ff;
  --primary-lighter: #9bc3ff50;
  --primary-heavy: #002050;
  --tertiary: #212528;
  --tertiary-light: #4a5258;
  --tertiary-lighter: #4a525850;
  --tertiary-alt: #ffffff;

  /* Background */
  --bg: #fbfbfb;
  --hover-on-bg: #f6f6f6;
  --hover-on-bg-heavy: #dadada;
  --hover-on-primary: #5296fc;
  --border: #ebebeb;
  --border-on-tertiary: #5a5a5a;
  --stroke-on-tertiary: #3a3a3a;

  /* Text colors */
  --text-primary: #000000;
  --text-secondary: #999999;
  --text-secondary-on-tertiary: #cccccc;
  --text-tertiary: #ffffff;

  /* Tag colors */
  --success: #198754;
  --error: #dc3545;
  --warning: #ffc103;
  --info: #0d6efd;
  --success-hover: #19875420;
  --success-light: #19875440;
  --error-hover: #dc354520;
  --error-light: #dc354540;
  --warning-hover: #ffc10320;
  --warning-light: #ffc10340;

  /* Others */
  --box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  --box-shadow-heavy: 0 5px 20px rgba(0, 0, 0, 0.3);
}

html,
body {
  margin: 0;
  padding: 0;
}

/* General Stylings */
*,
*::before,
*::after {
  box-sizing: border-box !important;
  transition: 0.4s;
  scrollbar-width: none;
  scrollbar-color: transparent;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-primary);
}

* ::-webkit-scrollbar,
*::before ::-webkit-scrollbar,
*::after ::-webkit-scrollbar {
  display: none;
}

* ::-moz-scrollbar,
*::before ::-moz-scrollbar,
*::after ::-moz-scrollbar {
  display: none;
}

* ::-ms-scrollbar,
*::before ::-ms-scrollbar,
*::after ::-ms-scrollbar {
  display: none;
}

a,
.btn,
.btn:focus,
.btn:active,
.btn:focus-visible,
.btn-link:focus,
.btn-link:active {
  background: none !important;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}

input[type="checkbox"],
input[type="radio"] {
  box-shadow: none !important;
}

.form-control {
  box-shadow: none !important;
  border-radius: 10px;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-secondary) !important;
}

button {
  background-color: transparent;
  padding: 6px 12px;
  border: none;
  border-radius: 10px;
}

button.check-btn {
  background-color: var(--primary);
  color: var(--text-tertiary);
}

button.check-btn svg {
  fill: var(--text-tertiary);
}

.span-box {
  padding: 1px 7px;
  border-radius: 5px;
  background-color: var(--border);
}

/* Feedback pop-ups */
#success-msg,
#err-msg {
  display: none;
  opacity: 1;
  position: fixed;
  top: 70px;
  left: 20px;
  width: fit-content;
  text-align: center;
  padding: 10px 20px;
  background: var(--error);
  color: var(--text-tertiary);
  border-radius: 5px;
}

/* Filter styling */
.filter-bar {
  overflow: auto;
  white-space: nowrap;
}

.filter-bar .filter {
  background-color: var(--border);
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 50px;
}

.filter-bar .filter:hover {
  background-color: var(--primary-lighter);
}

.filter-bar .filter.active {
  background-color: var(--primary-light);
}

#success-msg {
  background: var(--success);
  color: var(--text-primary);
}

/* Dropdown menu styling */
.dropdown-menu {
  position: fixed !important;
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.dropdown-menu .dropdown-item {
  font-size: 15px !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--hover-on-bg) !important;
}

.dropdown-menu.switch-profile {
  background-color: var(--tertiary);
  border: 1px solid var(--stroke-on-tertiary) !important;
  box-shadow: var(--box-shadow-heavy);
  width: 220px !important;
}

.dropdown-menu.switch-profile * {
  color: var(--text-tertiary);
}

.dropdown-menu.switch-profile .dropdown-item * {
  color: var(--text-secondary-on-tertiary);
}

.dropdown-menu.switch-profile .dropdown-item span.entity-name {
  flex-basis: 90% !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu.switch-profile .dropdown-item:hover {
  background-color: var(--tertiary-lighter) !important;
  color: var(--text-secondary-on-tertiary) !important;
}

.dropdown-menu.switch-profile .dropdown-item.active * {
  color: #00ff7f !important;
  /* font-weight: bold !important; */
}

/* Container-fluid */
.container-fluid {
  max-height: 100% !important;
  background-color: var(--bg);
}

/* =========================================

  Modals Styling 

===========================================*/

.modal-overlay {
  background-color: #00000080;
}

/* Action modal */
.action-modal {
  display: none;
  z-index: 10;
}

.action-modal .action-panel {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: fit-content;
  max-height: 450px;
  background-color: var(--tertiary-alt);
  border-radius: 20px;
  border: 1px solid var(--border);
  overflow: hidden;
}

.action-modal .action-panel .header {
  background-color: inherit;
  z-index: 2;
}

.action-modal .action-panel .header .title-bar {
  width: 88%;
}

.action-modal .action-panel .header .title-bar .title {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action-modal .action-panel .footer {
  background-color: inherit;
}

.action-modal .action-panel .panel-body .side-panel {
  display: none;
  background-color: var(--tertiary-alt);
  left: 0;
  top: 0;
  z-index: 1;
  height: fit-content;
}

.action-modal .action-panel .panel-body .side-panel.reveal {
  display: block;
}

.action-modal .action-panel .header #editTitleBtn svg {
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 3px !important;
  fill: var(--primary);
  margin-bottom: 3px;
  transform: scale(0.9);
}

.action-modal .action-panel .header .edit-title-bar {
  display: flex;
}

.action-modal .action-panel .header .edit-title-bar .form-control.edit-title-input {
  box-shadow: var(--box-shadow) !important;
  width: 200px;
}

.action-modal .action-panel .header .edit-title-bar .check-btn {
  box-shadow: var(--box-shadow-heavy);
}

@media screen and (max-width: 767px) {
  .action-modal .action-panel {
    width: 90%;
  }
}

.action-modal .action-modal-inner.scrollable {
  overflow-y: auto;
  max-height: 350px;
  padding-bottom: 20px !important;
}

/* =========================================

  Login/Signup/Forgot-Password Page Styling 

===========================================*/

.auth-panel {
  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  width: 400px;

  max-height: 500px;

  padding: 0;
}

@media screen and (max-width: 767px) {
  .auth-panel {
    width: 85%;
  }
}

.auth-panel .auth-form .step {
  max-height: 300px;

  overflow-y: auto;
}

.auth-panel .auth-form .form-group {
  margin-bottom: 10px;
}

.auth-panel .auth-form .form-control {
  background-color: transparent;
  border-radius: 10px;
}

.auth-panel .auth-form .form-control:focus {
  box-shadow: none;
}

.auth-panel .auth-form .submit-btn {
  width: 100%;

  border: 1px solid var(--primary);

  color: white;

  background-color: var(--primary) !important;

  border-radius: 10px;

  margin-top: 10px;
}

.auth-panel .auth-form .forgot-password {
  text-decoration: underline !important;
}

/* =========================================

  Dashboard Styling 

===========================================*/
#mainframe {
  max-height: 100% !important;
  grid-template-columns: minmax(0, 2fr) minmax(0, 7fr);
}

/* Sidebar */

#sidebar {
  z-index: 5;
  background-color: var(--tertiary);
}

#sidebar header {
  min-height: 50px;
  background-color: var(--tertiary);
}

#sidebar header .switch-profile-btn {
  margin: 0;
  overflow-x: hidden;
  flex: 40%;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-secondary-on-tertiary);
  border: 1px solid var(--border-on-tertiary);
  border-radius: 10px;
}

#sidebar header .switch-profile-btn:hover {
  background-color: var(--tertiary-lighter);
}

#sidebar header .switch-profile-btn * {
  color: var(--text-secondary-on-tertiary);
  fill: var(--text-secondary-on-tertiary);
}

#sidebar header .close-btn {
  border: none;
  padding: 0 !important;
  margin: 0 !important;
}

#sidebar header .close-btn svg {
  fill: var(--text-secondary-on-tertiary);
}

#sidebar .nav {
  height: 100%;
  overflow-y: auto;
}

#sidebar .nav li {
  list-style: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  margin-top: 12px;
}

#sidebar .nav li .text {
  color: var(--text-secondary-on-tertiary);
}

#sidebar .nav li:hover {
  background-color: var(--tertiary-lighter);
}

#sidebar .nav li.active {
  background-color: var(--tertiary-lighter);
}

#sidebar .nav li .icon svg {
  fill: var(--text-secondary-on-tertiary);
}

#sidebar .nav li:first-child {
  margin-top: 0;
}

#sidebar footer {
  z-index: 2;
  background-color: var(--tertiary);
  border-top: 1px solid var(--stroke-on-tertiary);
}

#sidebar footer .logout-btn {
  color: var(--text-secondary-on-tertiary);
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  border: none;
}

#sidebar footer .logout-btn:hover {
  background-color: var(--tertiary-lighter);
}

#sidebar footer .logout-btn .icon svg {
  fill: var(--text-secondary-on-tertiary);
}

#sidebar footer .logout-btn .text {
  color: var(--text-secondary-on-tertiary);
}

@media screen and (max-width: 767px) {
  #sidebar {
    position: absolute;
    top: 0;
    left: -100%;
  }
}

/* Screen */

#screen {
  height: 100vh;
  overflow-y: auto;
  /* Prevent parent containers from growing beyond viewport */
  max-height: 100vh;
  /* Optional: Prevent horizontal scroll if not needed */
  overflow-x: hidden;
}

#screen header {
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  z-index: 2;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
}

#screen header .account-name-bar .account {
  margin: 0;
  overflow-x: hidden;
  flex: 40%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#screen header .account-name-bar .divider,
#screen header .account-name-bar .page-title {
  color: var(--text-secondary);
  margin: 0;
}

#screen header .menu-btn {
  border: none;
}

#screen header .menu-btn svg {
  fill: var(--text-primary);
}

#screen .body {
  max-height: 100%;
  overflow-y: visible;
}

/* Dashboard page */

.stats-block {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.stat {
  background-color: var(--tertiary-alt);
  border: 1px solid var(--border);
  border-radius: 10px;
}

.stat .value {
  color: var(--text-primary);
}

.stat .title {
  color: var(--text-secondary);
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .stats-block {
    grid-template-columns: 1fr 1fr;
  }
}

/* Cells & Cell Members' page */

.table-info-block .info {
  color: var(--text-secondary);
}

.cell-table-section .search-bar {
  width: 350px;
}

.cell-table-section .search-bar .search-icon svg {
  fill: var(--text-secondary) !important;
}

.search-loading {
  animation: search-rotate 1s linear infinite;
}

@keyframes search-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  .cell-table-section .search-bar {
    width: 100%;
  }
}

.cell-table-section .add-cell-btn,
.cell-table-section .add-member-btn {
  border: none;
  border-radius: 10px;
  background-color: var(--primary);
  margin-left: auto;
  color: var(--text-tertiary);
}

.cell-table-section .add-cell-btn:hover,
.cell-table-section .add-member-btn:hover {
  background-color: var(--hover-on-primary);
}

.cells-table-container {
  border-radius: 10px;
  border: 1px solid var(--border);
  background-color: var(--tertiary-alt);
  overflow: auto;
  position: relative !important;
}

.cells-table-container table {
  border: 1px solid var(--border) !important;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.cells-table-container table th,
.cells-table-container table td {
  white-space: nowrap;
  padding: 5px 10px;
  border: 1px solid var(--border) !important;
}

/* .cells-table-container table th.sn-col,
.cells-table-container table td.sn-col {
  position: sticky !important;
  left: 0 !important;
} */

.cells-table-container table tr .action-btn {
  color: var(--text-primary);
  border: 1px solid var(--tertiary);
  border-radius: 10px;
}

.cells-table-container table tr .action-btn:hover {
  background-color: var(--hover-on-bg);
}

.cells-table-container table tr .delete-member-btn {
  border-color: var(--error);
  color: var(--error);
}

.cells-table-container table tr .delete-member-btn:hover {
  background-color: var(--error-hover);
}

.action-modal-form .body {
  overflow-y: auto;
  max-height: 350px;
  padding-bottom: 70px;
}

.action-modal-form .form-group {
  margin-bottom: 10px;
}

.action-modal-form .admin-assignment-section .title {
  background-color: var(--bg);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.action-modal-form footer {
  background-color: var(--tertiary-alt);
}

.action-modal-form .submit-btn {
  background-color: var(--primary);
  color: var(--text-tertiary);
}

.action-modal-form .submit-btn:hover {
  background-color: var(--hover-on-primary);
}

.action-modal-form .cancel-btn {
  background-color: var(--bg);
  border: 1px solid var(--border);
}

.action-modal-form .cancel-btn:hover {
  background-color: var(--hover-on-bg);
}

#action-modal .cell-admins-list-container .cell-admins-list li {
  margin-bottom: 7px;
}

#action-modal .cell-admins-list-container .cell-admins-list li:last-child {
  margin-bottom: 0;
}

#action-modal .cell-admins-list-container .cell-admins-list li .admin-email {
  font-size: 14px;
  color: var(--text-secondary);
  margin-top: -3px !important;
}

.dropdown-item.edit-admin-btn {
  color: var(--primary) !important;
}

.dropdown-item.unassign-admin-btn {
  color: var(--error) !important;
}

#action-modal .cell-admins-list-container .admins-list-info {
  color: var(--text-secondary);
}


/* Reports Page */

.reports-status-bar {
  overflow: auto;
  white-space: nowrap;
}

.report-status.published .span-box {
  background-color: var(--success-light);
}

.report-status.pending .span-box {
  background-color: var(--warning-light);
}

.report-status.unpublished .span-box {
  background-color: var(--error-light);
}

.report-draft {
  background-color: var(--hover-on-bg);
  border: 1px dashed var(--hover-on-bg-heavy);
  min-height: 50px;
  border-radius: 10px;
  margin-top: 10px;
}

.report-draft:first-child {
  margin: 0;
}

.report-draft .description {
  font-size: 14px;
  font-style: italic;
}

.report-draft .label {
  color: var(--text-secondary);
  font-style: italic;
  margin-right: 20px;
}

.report-draft .publish-btn,
.report-draft .view-btn {
  color: var(--primary);
}

.report-draft .publish-btn:hover,
.report-draft .view-btn:hover {
  text-decoration: underline;
}

.custom-dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1000;
  background: var(--tertiary-alt);
  border: 1px solid var(--border);
  border-radius: 10px;
  max-height: 250px;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
  box-shadow: var(--box-shadow);
  margin-top: 5px;
}

.custom-dropdown .dropdown-option {
  padding: 5px 0;
  cursor: pointer;
}

.custom-dropdown .dropdown-option:has(.select-all-options) {
  border-bottom: 1px solid var(--tertiary-lighter);
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 7px;
}

.custom-dropdown .dropdown-option label {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
}